<html>
  <head>
	<!-- =============================   Add  Debug   ================================ -->
	<title> Debug title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- ============================================================================= -->
  
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>--> <!-- Duplicate -->
  	<link rel='stylesheet' href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css'>
  	<script src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js'></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- include Auth0 -->
	<!-- <script src="auth0.min.js"></script> -->
  	<script type="text/javascript" language="javascript" src="loginForm.json"></script>
 	 <!-- <script type='text/javascript'>
   		 window.onload = function () {
      		Formio.createForm(document.getElementById('formio'), loginForm); 
			console.log('after createForm');
		}
  	</script> -->
	<!-- ==============  Debug  Zone  ==================== -->
	
	<!-- ================================================= -->
  </head>
  <!-- <body>
		<div id='formio'></div>
  </body> -->
  <body ng-app="catApp" ng-controller="homeCtrl" role="document">
  
		<script src="resource/jquery-1.11.1.min.js"></script>
		<script src="resource/angular.min.js"></script>
		<script src="resource/angular-route.js"></script>
		
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="App/Scripts/adal.js"></script>
        <script src="App/Scripts/adal-angular.js"></script>
        <script src="App/Scripts/app.js"></script>
        <script src="App/Scripts/homeCtrl.js"></script>
        <script src="App/Scripts/userDataCtrl.js"></script>
        <script src="App/Scripts/catListCtrl.js"></script>
        <script src="App/Scripts/catListSvc.js"></script>
		
		
		<script type='text/javascript'>
   		 window.onload = function () {
      		Formio.createForm(document.getElementById('formio'), loginForm); 
			console.log('after createForm');
			
			var submitButton = document.getElementById("formio");
			submitButton.addEventListener("click",function(e){
				console.log('addEventListener');
				//login();
				
				//v1
				//angular.element(document.getElementById('homeCtrl')).scope().login();
				
				//v2
				//angular.element(document.getElementById('homeCtrl')).injector().‌​get('$rootScope');
				
				//v3
				var testCall1 = angular.element(document.getElementById('homeCtrl'));
				console.log('testcall1 = '+testCall1);
				
				var testCall2 = angular.element(document.getElementById('homeCtrl')).scope();
				console.log('testcall2 = '+testCall2);
				
				var testCall3 = angular.element(document.getElementById('homeCtrl')).injector();
				console.log('testcall3 = '+testCall3);
				
				var testCall4 = angular.element(document.getElementById('homeCtrl')).login();
				console.log('testcall4 = '+testCall4);
				
			
				console.log('dd');
			});
			/*$(document).ready ( function () {
				   $('input[type="button"][name="data[submit]"]').on('click', function(){
					alert("Night button clicked");
				   });
				});*/
		}
		</script>
		
		<div id='formio'>
	
		</div>
		
		 <!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/Home">SPA Auth Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/Home') }"><a href="#/Home">Home</a></li>
                    <li ng-class="{ active: isActive('/CatList') }"><a href="#/CatList">Cat List</a></li>
                    <li ng-class="{ active: isActive('/UserData') }"><a href="#/UserData" ng-show="userInfo.isAuthenticated">User</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-link" ng-show="userInfo.isAuthenticated" ng-click="logout()">Logout</a></li>
                    <li><a class="btn btn-link" ng-hide=" userInfo.isAuthenticated" ng-click="login()">Login</a></li>
                </ul>
            </div>
        </div>
    </div> -->
		<!-- <li><a ng-click="login()">Login</a></li> -->
		 <button ng-click="login()" class="btn btn-primary" >LOG IN</button>
  </body>
</html>